body{
  background-color  : grey;
}

.card{
    margin-top: 20px;
    box-shadow: 8px 8px 3px 0 rgba(0,0,0,.14);
    background-color: white;
  }

.card-header{
    font-size: 30pt;
    text-align: center;
}

.card-body{
    margin: 0 auto;
}

.display-3{
  text-align: center;
}
