{% extends base %}

{% block preamble %}

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="undine-monitor/static/style.css">
{% endblock %}

{% block contents %}
<div class="wrapper">
  <div >
    <h1 class="display-3">Undine-Monitor</h1>
  </div>
  <div class="container-fluid">
    <div class="row">
    <div class='col-lg-3'>
      <div class="card">
        <div class="card-header">
          Uhrzeit
        </div>
        <div class="card-body">
          {{embed(roots.ly_pulseoxi_time)}}
        </div>
      </div>
    </div>
    <div class='col-lg-3'>
      <div class="card">
        <div class="card-header">
          SPO₂
        </div>
        <div class="card-body">
          {{embed(roots.ly_pulseoxi_spo2)}}
        </div>
      </div>
    </div>
    <div class='col-lg-3'>
      <div class="card">
        <div class="card-header">
          BPM
        </div>
        <div class="card-body">
          {{embed(roots.ly_pulseoxi_bpm)}}
        </div>
      </div>
    </div>
    <div class='col-lg-3'>
      <div class="card">
        <div class="card-header">
          SPCO₂
        </div>
        <div class="card-body">
	         {{embed(roots.ly_spco2)}}
        </div>
      </div>
    </div>
    </div>
    <div class='row justify-content-center'>
      <div style='max-width: 400px; min-height: 60px;'>{{embed(roots.ly_date_input)}}</div>
      <div style='max-width: 400px; min-height: 60px;'>{{embed(roots.ly_send_button)}}</div>
    </div>
    {{embed(roots.ly_alarm)}}
    <div style='visibility: hidden'>{{embed(roots.ly_status)}}</div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
{% endblock %}
